extends ../main.layout.pug

block variables
    - var title = "Congratulations!"
block content
    main.main
        .main__left-col
        .main__right-col
            .content-wrap
                .main__logo
                    img.logo(alt="olimp trade logo" src="./assets/images/popup/vertical/logo.png")
                .main__title
                    h2.main__title-cost $ 10 000
                    span.main__title-content.main__title-content--en is already on your demo-account
                .main__text We double your deposit
                .main__form.js-reg-form
                    iframe(id="olymp-form" class="mbl1-form-reg" src="https://static.olymptrade.com/lands/affiliate-new-form/?target=blank&lang=ru")
                a.main__btn.js-main-btn(target="_blank" href="#") Start earning                         
block scripts
    script(src='./assets/scripts/index.bundle.js')