.popup#popup
    .popup__wrapper.js-close-popup
    .popup__content
        a.popup__close.js-close-popup
        .popup__picture
        .popup__desc
            .popup__logo
                img.logo(alt="olimp trade logo" src="./assets/images/popup/vertical/logo.png")
            .popup__title
                h2.popup__title-cost $ 10 000
                span.popup__title-content.popup__title-content--en is already on your demo-account
            .popup__text We double your deposit
            a.popup__btn(target="_blank" href="#") Start earning