.popup#popup
    .popup__wrapper.js-close-popup
    .popup__content
        a.popup__close.js-close-popup
        .popup__picture
            //- img.popup__img(alt="safes" src="./assets/images/safes/safes.png")
        .popup__desc
            .popup__title
                h2.popup__title-cost $ 10 000
                span.popup__title-content.popup__title-content--en is already on your demo-account
            .popup__text We double your deposit
            button.popup__btn(type="button") Start earning