* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2,h3,h4,h5,h6{
    margin:0;
}
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    line-height: 1.42;
    color: $text-color;
}

input {
    outline: none;
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0 50px #184363 !important;
    -webkit-box-shadow: inset 0 0 0 50px #184363 !important; /* Цвет фона */
    -webkit-text-fill-color: #fff !important; /* цвет текста */
    color: #fff !important; /* цвет текста */
}
.wrapper{
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    position: relative;
    background-color: $background;
    display:flex;
    align-items: center;
    background: 
    url(../images/prize1.png) 30% 70% no-repeat,
    url(../images/prize2.png) 35% 30% no-repeat,
    url(../images/obj-1.png) 50% 0 no-repeat,
    url(../images/obj-2.png) 20% 0 no-repeat,
    url(../images/obj-3.png) 12% 40% no-repeat,
    url(../images/obj-4.png) 25% 43% no-repeat,
    url(../images/obj-5.png) 14% 84% no-repeat,
    url(../images/obj-6.png) 34% 101% no-repeat,
    url(../images/obj-7.png) 87% 50% no-repeat,
    url(../images/obj-8.png) 85% 0 no-repeat,
    url(../images/obj-9.png) 86% 100% no-repeat,
    url(../images/obj-10.png) 55% 100% no-repeat,
    radial-gradient(circle at 49% 0, #004779, #00223d);
    @include narrow{
        background-position: 23% 70%,30% 30%,50% 0,10% 0,5% 40%,18% 43%,8% 84%,27% 101%,96% 50%,93% 0,93% 100%,55% 100%;
    }
    @media screen and (max-width:950px) {
        background-position: 6% 70%,20% 30%,55% 0,-28% 0,-3% 40%,15% 43%,4% 84%,11% 101%,100% 50%,100% 0,100% 100%,55% 100%;
        
    }
    @include tablets {
        background: url(../images/popup/vertical/obj_1.png) 8% 0 no-repeat,
        url(../images/popup/vertical/obj_2.png) 50% 0 no-repeat,
        url(../images/popup/vertical/obj_3.png) 95% 0 no-repeat,
        url(../images/popup/vertical/obj_4.png) 6% 33% no-repeat,
        url(../images/popup/vertical/obj_5.png) 18.5% 100% no-repeat,
        url(../images/popup/vertical/obj_6.png) 87% 99% no-repeat,
        url(../images/popup/vertical/prize_2_vertical.png) 18% 13.7% no-repeat,
        url(../images/popup/vertical/prize_1_vertical.png) 91% 16% no-repeat,
        radial-gradient(circle at 49% 0,#004779,#00223d);
    }
}

.container{
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}