.main__form {
    height: 0;
    overflow: hidden;
    transition: height .5s;
    margin-bottom:5px;
}
.form {
    @include phones {
        max-width: 420px;
    }
}
.form__row {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }
    &:nth-child(3) {
        margin-bottom: 17px;
    }
    &:nth-child(4) {
        margin-bottom: 23px;
    }
    @include phones {
        margin-bottom: 15px;
    }
}

.error {
    display: none;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    position: absolute;
    width: 280px;
    height: 40px;
    top: -55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $error;
    border-radius: 4px;
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 80%;
        width: 5px;
        height: 5px;
        border-radius: 1px;
        border-left: 10px solid $error;
        border-bottom: 10px solid $error;
        background: btn;
        transform: rotate(-45deg);
    }
}

.form__input {
    cursor: pointer;
    height: 56px;
    flex: 1;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color:#184363;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    padding-top: 20px;
    &:hover {
        border-color: $input_border;
        transition: 0.3s;
    }
    &-error {
        border-color: $error;
        position: relative;
        &::before {
            content: "Ошибка";
            text-align: center;
            line-height: 40px;
            color: #fff;
            display: block;
            position: absolute;
            width: 280px;
            height: 40px;
            top: -55%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $error;
            border-radius: 4px;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: -35%;
            width: 5px;
            height: 5px;
            border-radius: 1px;
            border-left: 10px solid $error;
            border-bottom: 10px solid $error;
            transform: rotate(-45deg);
        }
    }
    @include phones {
        height: 58px;
    }
}

.form__input-area {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    @include phones {
        padding: 0;
    }
}

.form__placeholder {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    font-size: 16px;
    color: $placeholder;
}

.form__input-area:focus~.form__placeholder,
.form__input-area--up~.form__placeholder {
    top: 23px;
    bottom: 10px;
    left: 25px;
    font-size: 12px;
}

.form__radio-btns {
    display: flex;
    width:100%;
    @include phones {
        margin-top: 3px;
    }
}

.form__radio-fake {
    box-sizing: border-box;
    width: 50%;
    height: 56px;
    cursor: pointer;
    font-size:0;
}

.form__radio-btn {
    display: none;
    &+.form__radio-fake:before {
        content: "";
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 56px;
        background-color:#184363;
        border: 2px solid transparent;

    }
    &_dol {
        &+.form__radio-fake:before {
            background:url('../images/icons/dollar.png') center center no-repeat;
            background-color:#184363;
            border-radius: 8px 0px 0px 8px;
        }
    }
    &_eur {
        &+.form__radio-fake:before {
            background:url('../images/icons/euro.png') center center no-repeat;
            background-color:#184363;
            border-radius: 0px 8px 8px 0px;
       }
    }
}

.form__radio-btn_dol:checked {
    &+.form__radio-fake:before {
        border: 2px solid $btn;
    }
}

.form__radio-btn_eur:checked {
    &+.form__radio-fake:before {
        border: 2px solid $btn;
    }
}

.input__confirm {
    position: relative;
    padding-left: 46px;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    text-align: left;
    @include tablets {
        height: 32px;
    }
    @include phones {
        padding-top: 0px;
        font-size: 10px;
    }
}
.input__confirm-link{
    color: $text-color;
}

.input__check {
    display: none;
    &+label:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background-color: #184363;
        @include phones {
            width: 25px;
            height: 25px;
        }
    }
    &+label:after {
        content: "";
        display: block;
        position: absolute;
        left: 4px;
        top: 6px;
        width: 20px;
        height: 10px;
        border-radius: 1px;
        border-left: 4px solid $btn;
        border-bottom: 4px solid $btn;
        opacity: 0;
        transform: rotate(-50deg);
        @include phones {
            width: 15px;
            height: 5px;
            border-left: 2px solid $btn;
            border-bottom: 2px solid $btn;
        }
    }
    &:checked+label:after {
        opacity: 1;
        transition: 0.3s;
    }
}

.form__check-error {
    display: none;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    position: absolute;
    width: 280px;
    height: 40px;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $error;
    border-radius: 4px;
    z-index: 2;
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 80%;
        width: 5px;
        height: 5px;
        border-radius: 1px;
        border-left: 10px solid $error;
        border-bottom: 10px solid $error;
        background: btn;
        transform: rotate(-45deg);
    }
}

.form__btn {
    width: 100%;
    height: 56px;
    background-color: $btn;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    outline: none;
    @include phones {
        font-size: 13px;
    }
}

.wrong-user {
    display: block;
    width: 100%;
    height: 65px;
    background-color: $error;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    &__txt {
        display: flex;
        &:before {
            content: '';
            display: block;
            width: 64px;
        }
    }
    @include phones {
        height: 45px;
    }
}