.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background;
    z-index: 1111;

}

.popup__wrapper {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    right: 0;
}

.popup__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
    z-index: 1200;
    border-radius: 5px;
    background-color: #1d344d;
    width: 560px;
    height: 368px;
    background:url(../images/popup/bg.jpg) center center /cover no-repeat;
    padding: 20px;
    padding-left: 204px;
    padding-top:32px;
    
    @include tablets {
        padding: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
        width:460px;
        background-image: radial-gradient(circle at 49% 0, #004779, #00223d);
    }
    @include phones {
        width: 320px;
        height: 568px;
        border-radius: 3px;
        background: url(../images/popup/vertical/obj_1.png) 8% 0 no-repeat,
                    url(../images/popup/vertical/obj_2.png) 50% 0 no-repeat,
                    url(../images/popup/vertical/obj_3.png) 95% 0 no-repeat,
                    url(../images/popup/vertical/obj_4.png) 6% 33% no-repeat,
                    url(../images/popup/vertical/obj_5.png) 18.5% 100% no-repeat,
                    url(../images/popup/vertical/obj_6.png) 87% 99% no-repeat,
                    url(../images/popup/vertical/prize_2_vertical.png) 18% 13.7% no-repeat,
                    url(../images/popup/vertical/prize_1_vertical.png) 91% 16% no-repeat,
                    radial-gradient(circle at 49% 0,#004779,#00223d);
        width:95%;
        height:97%;
        max-width:320px;
        max-height:568px;
        padding:16px;
        padding-top:213px;
        align-items:flex-start;
    }
}

.popup__close {
    opacity: 0.6;
    position: absolute;
    top: 29px;
    right: 31px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    &:active {
        transform:scale(0.97);
    }
    @include phones {
        top:23px;
        right:22px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 10px;
        width: 22px;
        height: 2px;
        background-color: #fff;
        transform: rotate(-45deg);
    }
    &:after {
        content: '';
        position: absolute;
        top: 10px;
        width: 22px;
        height: 2px;
        background-color: #fff;
        transform: rotate(45deg);
    }
}

.popup__picture {
    width: 276px;
    height: 455px;
    position: absolute;
    top: 50%;
    left: -78px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url('../images/popup/obj_2.png') 100% 99% no-repeat,
    url('../images/popup/obj_1.png') 18% 29% no-repeat,
    url('../images/popup/prize_1.png') 6% 96% no-repeat,
    url('../images/popup/prize_2.png') 88% 1% no-repeat;

    @include tablets {
        display:none;
    }
}
.popup__logo{
    display:none;
    @include phones { 
        display:block;
        margin-bottom: 16px
    }
}

.popup__desc {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #d8e1e6;
    display:flex;
    flex-direction: column;

    @include tablets {
        align-items: center;
        text-align:center;
        width:100%;
    }

    @include phones {
        align-items: center;
        text-align:center;
        width:100%;
        max-width: 288px;
    }
}

.popup__title {
    margin-bottom: 15px;
    @include phones {
        margin-bottom:18px;
    }
}

.popup__title-cost {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 54px;
    font-weight: bold;
    line-height: 1.19;
    color: #00d065;
    @include phones {
        margin-bottom:1px;
    }
}

.popup__title-content {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
    @include phones {
        font-size: 24px;
        padding:0 2px;
        line-height: 1.25;
    }
}

.popup__text {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    margin-bottom: 35px;
    @include phones {
        margin-bottom: 25px;
        
    }
}
.popup__btn {
    width: 304px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #f31138;
  border:none;
  cursor:pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 56px;
  text-align: center;
  color:#fff;
  transition: transform .3s;
  text-decoration:none;
  &:active {
      transform:scale(0.97);
  }
  &:focus{
      outline:none;
  }
  @include phones {
      width:100%;
      max-width:288px;
  }
}